@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.montserrat-font{
  font-family: 'Montserrat', sans-serif;
}

.background_img{
  background-image: url("./assets/background-marcom-image.png"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
}